.main {
  min-height: calc(100vh - 93.5px);
  padding: 20px;
}

.main_section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sort_section {
  display: flex;
  justify-content: flex-end;
  .sort_filter {
    display: flex;
    align-items: center;
    gap: 10px;

    div {
      flex: 1;
    }
  }
}

.projects_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1210px;
  gap: 10px;
}
