@import "@/styles/variables.scss";
@import "@/styles/media.scss";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: $title;
  padding: 48px 0;
}

.description {
  max-width: 60%;
  font-size: 32px;
  color: $white;
  font-weight: 300;
  line-height: 1.3;
}

.visionBorder {
  width: 40%;
  margin: 32px auto;
  height: 4px;
  background-color: $primary-yellow;
}

.visionContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1000px;
  margin: 0 auto;
  gap: 20px;
}


.feature {
  padding: 3rem;
  background-color: $white;
  border-radius: 8px;
  text-align: center;
}

.featureTitle {
  font-size: 30px;
  font-weight: 400;
  color: $title;
}

.featureDescription {
  padding: 1rem;
  color: $title;
  line-height: 1.4;
  font-size: 18px;
  margin: auto;
  font-weight: 300;
}

@include mobile{
  .description{
    font-size: 24px;
    max-width: 80%;
    text-align: center;
  }

  .visionContainer{
    grid-template-columns: 1fr;
    width: unset;
    padding: 0 16px;
  }

  .feature{
    padding: 2rem;
  }

  .featureTitle {
    font-size: 20px;
  }

  .featureDescription {
    font-size: 16px;
  }
}