.screenDivision {
  display: flex;
  flex-direction: row;
}

.leftHandSide{
  overflow: auto;
  width: 300px; // if modified, modify it in sideBar.module.scss as well
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
  overflow: auto;
  padding: 50px 70px;
}