@import "@/styles/variables.scss";
.container {
  background-color: $bg-color-secondary;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  gap: 60px;
  justify-content: center;
  align-items: center; // Center the content horizontally
  text-align: center;
}

.name {
  font-weight: 650;
  position: relative;
  color: $title;
  font-size: 38px;
  margin-bottom: 40px;
}

.solutions {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; // Allow solutions to wrap to the next line if needed
}
