@import "styles/variables.scss";
@import "styles/media";

.header{
  position: relative;
}

.image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.textInTitle{
  position: absolute;
  top: 20%;
  left: 100px;
  color: $absolute-white;
  gap: 0;

}
.title{
  font-size: 50px;
  font-weight: 350;
}

.subtitle{
  font-size: 29px;
  font-weight: 100;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
    gap: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 16px;
}

@include tablet{
    .textInTitle{
      top: 40%;
        left: 60%;
      width: 95%;
      transform: translate(-50%, -50%);
    }
}