@import "@/styles/variables.scss";

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  transition: 0.4s;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  &:hover {
    opacity: 0.5;
    cursor: default;
  }
}

.lg {
  padding: 12px 16px;
  font-size: 16px;
}

.md {
  padding: 10px 14px;
  font-size: 14px;
}

.sm {
  padding: 8px 12px;
  font-size: 12px;
}

.fill {
  width: 100%;
}

.primary {
  background-color: $dark-green;
  color: $white;
}

.primary:hover {
  background-color: darken($dark-green, 10%);
}

.secondary {
  background-color: $primary-yellow;
  color: $black;
}

.secondary:hover {
  background-color: darken($primary-yellow, 10%);
}

.tertiary {
  background-color: $light-blue;
  color: $darker-gray;
}

.tertiary:hover {
  background-color: darken($light-blue, 10%);
}

.ghost {
  background-color: transparent;
  color: $black;
}

.ghost:hover {
  background-color: darken($primary-green, 10%);
}

.outlined {
  border: 1px solid $dark-green;
  background-color: transparent;
  color: $dark-green;
}

.outlined:hover {
  background-color: color-mix(in srgb, $dark-green 40%, transparent);
  color: $black;
}

.custom {
  background-color: $light-green;
  color: $black;
}

.custom:hover {
  background-color: darken($light-green, 10%);
}

.danger{
  background-color: $red;
  color: $white;
}

.danger:hover {
  background-color: darken($red, 10%);
}