@import "styles/variables.scss";

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 360px;
  overflow: hidden;
  margin: 10px;
}


.data{
  position: relative;
  padding-top: 10px;
}

.name {
  color: $title;
  font-weight: 450;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.job {
  font-weight: 250; // light font weight
  color: $black;
  text-align: center;
  font-size: 15px;
}


