@import "styles/variables";
@import "styles/media.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.content {
  text-align: left;
  margin-bottom: 20px;

  p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333;
    margin: 8px 0;
  }

  strong {
    font-weight: bold;
  }
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
}


.buttonContainer {
  margin: 0 24px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.title h2 {
  flex-grow: 1;
}

.closeButton {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: $light-black;
  padding: 5px;
  transition: color 0.3s ease;
}

@include laptop {
  .modalContent {
    width: 70%;
  }
}

@include tablet {
  .modalContent {
    width: 90%;
  }
}


