@import 'styles/variables.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-height: 390px;
  overflow: hidden;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.bottomSide img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.bottomSide {
  position: relative;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

// EN realidad no le ponddría casi nada de flex, que se ocupen los elementos de adentro de crear ese padding.
.topSide {
  flex: 0.1;
  flex-direction: column;
  padding: 15px 30px;
  gap: 15px;
  display: flex;
}

.location {
  font-size: 20px;
  font-weight: 350;
}
