@import "@/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  gap: 40px;
}

.title {
  font-size: 50px;
  font-weight: 200;
  color: $black;
  text-align: center;
}

.us {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}
