@import "@/styles/variables.scss";
@import "@/styles/media.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  gap: 40px;
}

.title {
  font-size: 50px;
  font-weight: 400;
  color: $black;
  text-align: center;

  @include mobile{
    font-size: 36px;
  }
}

.us {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}
