@import "@/styles/media.scss";


.container {
  position: relative;
  width: fit-content;
}

.image {
  position: absolute;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.favoriteWallet {
  position: absolute;
  top: 250px;
  right: 235px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@include laptop{
  .favoriteWallet {
    position: absolute;
    top: 50%;
    left: 12.3%;
  }
}

