@import "@/styles/variables.scss";

.contactFormContainer {
  background-color: $bg-color;
  padding: 70px 100px;
  border-radius: 8px;
  margin: 0 auto;

  .heading {
    font-size: 3.5rem;
    color: $title;
    margin-bottom: 80px;
    font-weight: normal;
    max-width: 70%;
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .imageContainer {
    flex: 1;
    max-width: 50%;
  }

  .image {
    width: 100%;
    border-radius: 8px;
  }

  .form {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h4 {
      font-size: 2.5rem;
      color: $black;
      font-weight: lighter;
    }

    .formGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
      }

      textarea {
        resize: vertical;
      }
    }

    .submitButton {
      background-color: #1c5739;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #14532d;
      }
    }
  }
}

@media (max-width: 768px) {
  .contactFormContainer {
    .content {
      flex-direction: column;
    }

    .imageContainer,
    .form {
      max-width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .contactFormContainer {
    padding: 32px;
    .heading {
      font-size: 2rem;
      margin-bottom: 40px;
      max-width: 100%;
    }

    .description {
      font-size: 0.875rem;
    }

    .form {
      padding: 15px;
    }
  }
}
