@import "@/styles/media.scss";

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 60px 80px;

}

.section_title {
  font-size: 32px;
  font-weight: 500;
}

.main p {
  font-size: 18px;
  font-weight: 300;
}

.projects {
  margin: 20px 0;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding: 5px;
  & > div {
    flex-shrink: 0;
  }
}

.more_info{
    text-align: center;
    font-size: 18px;
}

@include mobile{
  .main {
    padding: 20px 40px;
  }
}
