@import "@/styles/variables.scss";

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: $bg-color;
    color: $black;
    font-size: 14px;
    font-weight: 500;
}

.left, .right{
    display: flex;
    align-items: center;
    gap: 16px;
}
