@import "@/styles/variables.scss";

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background-color: $bg-color;
    color: $black;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left, .right{
    display: flex;
    align-items: center;
    gap: 16px;
}
