@import "@/styles/variables.scss";

.navbar {
    display: flex;
    width: 100%;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color, $light-black);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 10;
}

.left, .right {
    display: flex;
    align-items: center;
    gap:6px;
    margin: 0 4%;
}

.left {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
}

.links {
    display: flex;
    gap: 30px;
    color: white;
    a {
        &:hover {
            color: $light-gray;

        }
    }
}

.right {
    display: flex;
    align-items: center;
    gap: 16px;
}


.show {
    display: flex;
}


@media (max-width: 768px) {
    .links {
        display: none;
    }

    .right {
        display: none;
    }

    .navbar {
        //flex-direction: column;
        //align-items: flex-start;
        padding: 10px;
    }
}