@import "styles/variables.scss";

.projectPageContainer {
  background-color: $absolute-white;
}

.body {
    padding: 40px 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Adjusted to align items at the start
}

.screenDivision {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.leftHandSide {
 flex: 1;
}
.componentContainer {
  margin-top: 20px; // Added margin to separate from the above content
  width: 100%;
}