@import "styles/variables.scss";

.chart {
  background-color: rgba(120, 120, 120, 0.1); /* Fondo con transparencia */
  color: $obscure-gray;
  position: absolute;
  max-width: 30%;
  padding: 10px;
  margin: 0 10px;
  display: inline-block;

  // UNDERLINE
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $dark-gray;
    animation: underlineExpand 0.6s ease forwards;
  }
}

/* Definición de la animación */
@keyframes underlineExpand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.right {
  margin-left: 30px;
  margin-top: -10px;
}


.bottom {
  left: 270px;
  margin-top: 50px;
}

.top {
  left: 270px;
  margin-top: -60px;
  z-index: 999;
}

.infoIcon {
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  color: $dark-gray;
  border-bottom: 2px dotted $dark-gray;
  &:hover {
    color: #555;
  }
}

