@import "@/styles/variables.scss";
@import "@/styles/media.scss";
.container {
  position: relative;
  padding: 0 120px ;
  display: flex;
  justify-content: center;
  height: 80vh;
  margin-top: 150px;
}

.screenDivision {
  display: flex;
  flex-direction: row;
  gap: 230px;
  padding-bottom: 40px; // VER

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.leftHandSide {
  flex: 1;
}

.heading {
  position: relative;
  font-size: 3.5rem;
  color: $black;
  font-weight: lighter;
  margin: 0;
  width: fit-content;

  span {
    color: $dark-green;
    font-weight: normal;
  }
}

.tag {
  background-color: #1c5739;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 16px;
  width: 130px;
}


.imageContainer {
  position: relative;
  width: 460px;
}

.secondImage {
  position: absolute;
  top: 180px;
  left: -100px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text{
  position: relative;
  font-size: 23px;
  width: 85%;
  font-weight: 250;
  color: $dark-green;
  margin-top: 20px;
}
.buttonContainer{
  padding-top: 50px;
}

.button{
  width: 160px;
  height: 50px;
}



@include tablet {
  .container{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin-top: 100px;
    height: 100%;
  }
  .screenDivision{
    gap: 0;
  }

  .leftHandSide {
    margin-top: 0;
    flex: none;
  }

  .tag {
    padding: 8px 16px;
    font-size: 0.6rem;
    width: 100px;
  }
  .tagContainer{
    display: flex;
    justify-content: center;
  }

  .text{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
  }
  .buttonContainer {
    padding-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .imageContainer {
    display: none;
  }


}

@media (max-width: 1200px) and (min-width: 900px){
  .container{
    height: 100%;
    padding: 0 20px ;
  }
  .screenDivision{
    gap: 100px;
  }
}

@media (max-width: 900px) and (min-width: 768px){
  .container{
    height: 100%;
  }
  .screenDivision{
    gap: 20px;
  }
}