@import "styles/variables.scss";
@import "@/styles/media.scss";

.container{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow: auto;
}

.titles{
  font-size: 20px;
  display: flex;
  gap: 50px;
  overflow-x: auto;
}

.selectedTitle{
  padding-bottom: 10px;
  font-weight: 300;
  border-bottom: 2px solid $primary-green;
  cursor: pointer;
}

.unselectedTitle{
  padding-bottom: 10px;
  font-weight: 200;
  color: $black;
  cursor: pointer;
}

.body{
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid $dark-gray;
}

.body p{
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}

.bold{
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
  padding-bottom: 10px;
}

.schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the parent container has a height to center vertically */
}

.componentContainer {
  margin-top: 20px; // Added margin to separate from the above content
  width: 100%;
}

@media (max-width: 1440px) {
  .titles{
    font-size: 20px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
  }
}

@include laptop {

  .titles{
    overflow-x: auto;
  }

  .title {
    overflow-x: auto;
    white-space: wrap;
  }
}