@import "styles/variables.scss";
@import "@/styles/media.scss";

.container{
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.titles{
  font-size: 20px;
  display: flex;
  gap: 40px;
  overflow-x: auto;

}

.selectedTitle{
  padding-bottom: 10px;
  font-weight: 300;
  border-bottom: 2px solid $primary-green;
  cursor: pointer;
}

.unselectedTitle{
  padding-bottom: 10px;
  font-weight: 200;
  color: $black;
  cursor: pointer;
}

.body{
  padding-top: 10px;
  border-top: 1px solid $dark-gray;
}

.body p{
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}

.bold{
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
  padding-bottom: 10px;
}

.schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the parent container has a height to center vertically */
}

.componentContainer {
  margin-top: 20px;
  width: 100%;
}


@media (min-width: 1440px) {
  .body{
    width: 60vw;
  }
}

@media (max-width: 1440px) {
  .titles{
    font-size: 20px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
  }
}

@include tablet {
  .container{
    width: 90vw;
  }

  .titles{
    overflow-x: scroll;
  }

  .title {
    white-space: wrap;
  }

}

