.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/landing/bg_cows.jpg");
  background-position: center center;
  background-size: cover;
  filter: brightness(50%);
}

.h1{
  color: #dc9989ba ;
  background-color: #602111;
  padding: 12px 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 20px #3c150b;
}