@import '@/styles/variables.scss';

.commentContainer {
  margin: 20px 0;
}

.commentContainer > .avatar-container {
  padding: 0;
}

.commentContainer > .avatar-container:hover {
  cursor: default;
  background-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
  border-radius: 8px;

  & > p {
    margin: 0;
  }
}

.comment{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.answer {
  margin-left: 20px;
  margin-top: 5px;
  padding: 10px 15px;
  border-left: 2px solid $gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrapper:hover {
  cursor: default;
  background-color: $light-gray;
}

.actions{
  display: flex;
  flex-direction: row;
  gap: 10px;

  .block:hover {
    stroke: $absolute-red
  }

}
