.commentContainer{
    border-left: 3px solid var(--grey-300);
    padding: 4px 0px 4px 16px;
}

.commentContainer > .avatar-container{
    padding: 0;
}

.commentContainer > .avatar-container:hover {
    cursor: default;
    background-color: transparent;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    border-radius: 8px;

    & > p{
        margin: 0
    }
}


.pad {
    padding-left: 8px;
}

.reply {
    display: none;
    margin-right: 16px;
}

.comment:hover {
    cursor: default;
    background-color: var(--grey-100);
}

.comment:hover > .reply {
    display: block;
}