@import "@/styles/variables.scss";

.landingCard{
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    margin: 10px;
    width: 20vw;
    transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.image {
  padding-bottom: 5px;
}

.title {
  font-weight: 400; // Medium font weight
  padding-bottom: 5px;
}

.description {
  font-weight: 300; // Regular font weight
  color: #979797;
  padding-bottom: 5px;
}