.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left,
.right {
  height: 100vh;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 1;
  overflow: hidden;
  background-color: black;
  position: relative;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    width: 40%;
}
