//.form{
//  display: flex;
//  height: 405px;
//  justify-content: space-between;
//  align-items: center;
//  align-content: space-between;
//  align-self: stretch;
//  flex-wrap: wrap;
//}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
}

@media (max-width: 425px) {
  .buttonContainer {
    margin-bottom: 20px;
  }
}
