//.container{
//  display: inline-flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//  gap: 45px;
//}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  height: 100%;
  overflow-y: auto; /* Enable scrolling if content exceeds height */
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    height: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .logoContainer {
    padding-top: 8px;
  }


  .container::-webkit-scrollbar {
    display: none;
  }

  .container {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
}


@media (max-width: 1024px) {
  .container {
    width: 80%;
    height: auto;
    overflow-y: auto; /* Enable scrolling if content exceeds height */
    -webkit-overflow-scrolling: touch;
  }
  .logoContainer {
    padding-top: 20px;
  }

}
