//.container{
//  display: inline-flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//  gap: 45px;
//}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
@media (max-width: 425px) {
  .container {
    width: 80%;
    height: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .logoContainer {
    padding-top: 20px;
  }


  .container::-webkit-scrollbar {
    display: none;
  }

  .container {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
}
