@import "@/styles/variables.scss";
.container{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 554px; // I believe this works for making it responsive
  overflow: hidden;
  margin: 10px;
}

.image{
  border-radius: 10px;
  position: relative;
  height: 293px;
  overflow: hidden;
  background-color: #D9D9D9;
}

.data{
  position: relative;
  padding-top: 20px;
}

.name {
    color: $title;
    font-weight: 450; // Medium font weight
    font-size: 32px;
    padding-bottom: 10px;
    text-align: center;
}

.description {
  font-weight: 300; // Light font weight
  color: $black;
  padding: 10px 0;
  text-align: justify;
}

.button {
  margin-top: auto; /* Push the button to the bottom */
  width: 100%;
}