@import "@/styles/variables.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column; // Ensure the container stacks its children vertically
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
  align-items: center; // Center the content horizontally
  text-align: center;
  gap: 32px;
}

.howItWorksContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.howItWorks {
  font-weight: 650;
  position: relative;
  color: $title;
  font-size: 54px;
}

.howItWorksDescription {
  max-width: 50%;
  font-size: 24px;
}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px; // Space between the cards
  flex-wrap: wrap; // Allow cards to wrap to the next line if needed
}

