.stepContainer {
  display: flex;
  margin-bottom: 20px;
}

.stepIconContainer {
  margin-right: 10px;
}

.stepIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #a2a2a2;
}

.stepLine {
  width: 2px;
  height: 100%;
  background-color: #a2a2a2;
  margin: auto;
}

.stepContent {
  margin-top: 16px;
}

.stepTitle {
  margin: 0;
}

.stepDescription {
  margin: 5px 0;
}

.stepDate {
  color: #a2a2a2;
}
