@import '@/styles/variables.scss';
@import '@/styles/media.scss';

.container {
  position: relative;
  padding: $vertical-padding $horizontal-padding;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;


  @include tablet{
    padding: $vertical-padding-sm $horizontal-padding-sm;
  }
}
