@import "@/styles/variables.scss";
@import "@/styles/media.scss";

.container {
  background-color: $title;
  color: #e2e2e2;
  
  padding: $vertical-padding $horizontal-padding;
  @include tablet {
    padding: $vertical-padding-sm $horizontal-padding-sm;
  }
}

.heading {
  font-size: 4rem;
  color: $light-green;
  margin-bottom: 40px;
  font-weight: normal;
}

.description {
  max-width: 600px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  color: #e2e2e2;
  margin: 10px 100px 10px 0;
}

.screenDivision {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  align-items: center;
  gap: 10px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.rightHandSide{
  flex: 1;
}

.leftHandSide{
  flex: 1;
}

.projects {
  width: 600px;
  margin: 20px 0;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  & > div {
    flex-shrink: 0;
  }
}


@include tablet{
  .screenDivision {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .rightHandSide{
    order: 1;
    padding: 0;
  }
  .leftHandSide{
    order: 2;
    padding: 0;
  }

  .projects {
    flex-direction: column;
    width: 100%;
  }

  .heading{
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .description{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
  }

  // hace que solo haya una card.
  .projects > div:last-child {
    display: none;
  }
}

@include laptop{
  // hace que solo haya una card.
  .projects > div:last-child {
    display: none;
  }
  .leftHandSide{
    width: 300px;
  }
}