@import "./media.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $black;
  background-color: $bg-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input, select {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid $gray;
  font-size: 16px;  
  background-color: transparent;
  outline: none;

  &:focus-visible{
    outline: 1px solid darken($gray, 5%);
    border-color: darken($gray, 5%);
  }

  &::-webkit-input-placeholder {
    font-weight: lighter;
  }
}
