$light-green: #d9f296;
$primary-green: #266419;
$dark-green: #1c5739;
$primary-yellow: #ffba00;
$secondary-yellow: #BEE488;
$red: #D74438;
$light-blue: #E7E7E7;

$light-gray: #D9D9D9;
$gray: #bfbfbf;
$dark-gray: #A2A2A2;
$darker-gray: #787878;
$obscure-gray: #4B4B4B;
$white: #F0F0E3;
$absolute-white: #FFFFFF;
$black: #000;
$title: #18392B;
$amber-500: #FFBA00;

$bg-color: #fff;
$bg-color-secondary: #FCFBFF;

