$light-green: #d9f296;
$primary-green: #266419;
$dark-green: #1c5739;
$primary-yellow: #ffba00;
$red: #d74438;
$light-blue: #e7e7e7;

$light-gray: #d9d9d9;
$gray: #bfbfbf;
$dark-gray: #a2a2a2;
$darker-gray: #787878;
$light-black: #333333;
$brown: #4a4a4a;
$white: #f0f0e3;
$absolute-white: #ffffff;
$black: #000;
$title: #18392b;
$amber-500: #ffba00;

$bg-color: #fff;
$bg-color-secondary: #fcfbff;
