$primary-green: #266419;
$dark-green: #1c5739;
$primary-yellow: #ffba00;
$red: #D74438;
$light-blue: #E7E7E7;


$gray: #bfbfbf;
$dark-gray: #A2A2A2;
$darker-gray: #787878;
$white: #F0F0E3;
$absolute-white: #FFFFFF;
$black: #000;
$title: #18392B;
$amber-500: #FFBA00;

$bg-color: #f0f0e3;
$bg-color-secondary: #FCFBFF;

