@import "styles/variables.scss";

.container {
    width: 100%;
    padding:  50px 100px;
    gap:15px
}


.title{
    padding-bottom: 40px;
}
.name {
    font-weight: 650;
    position: relative;
    color: $black;
    font-size: 38px;
}

.city {
    font-weight: 400;
    position: relative;
    color: $black;
    font-size: 38px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}


.leftHandSide {
    width: 100%;
    // this below only applies to screens that are 768px or wider (like desktops)
    @media (min-width: 768px) {
        width: 60%;
    }
}

.component{
    padding-bottom: 40px;
}

.rightHandSide {
    width: 100%;

    @media (min-width: 768px) {
        width: 40%;
    }
}
