.iconContainer {

  justify-content: center;
  align-items: center;
  overflow: hidden; // Ensure child elements are clipped to the container
}

.iconImage {
  width: 100%;
  height: 100%;
  object-fit: cover; // Ensure the image covers the container
  border-radius: 50%; // Ensure the image itself is rounded
}
