@import "@/styles/variables.scss";
@import "@/styles/media.scss";

.container {
  padding: 40px;
  background-color: $bg-color-secondary;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-weight: 400;
  color: $black;
}

.description {
  font-size: 24px;
  font-weight: 400;
  color: $black;
  width: 75%;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.vision,
.mission {
  position: relative;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  gap: 30px;
  width: 500px;
  height: 360px;
  border-radius: 8px;
  padding: 48px;
  overflow: hidden;
}

.vision {
  background: linear-gradient(135deg, $title, $dark-green);
}

.mission {
  background: linear-gradient(135deg, #cc4623, #762a16);
}

.cardIcon {
  content: "";
  position: absolute;
  border-radius: 80%;
  width: 250px;
  height: 110%;
  background: rgba(255, 255, 255, 0.1);
  right: -0px;
  left: -80px;
  top: -10px;
  overflow: hidden;
}

.cardTitle {
  font-size: 44px;
  font-weight: 400;
  color: $white;
}

.cardDescription {
  font-size: 20px;
  font-weight: 300;
  color: $white;
  line-height: 1.5;
}

.usContainer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.titleUs {
  font-size: 54px;
  font-weight: 400;
  color: $black;
}

.us {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  color: $white;
}

@include mobile{
  .cardsContainer{
    flex-direction: column;
    gap: 20px;
  }

  .vision,
  .mission{
    width: 100%;
  }

  .cardTitle{
    font-size: 36px;
  }

  .cardDescription{
    font-size: 16px;
  }
}
