@import "@/styles/variables.scss";

.container {
  padding: 40px;
  background-color: $bg-color-secondary;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-weight: 200;
  color: $black;
}

.description {
  font-size: 24px;
  font-weight: 200;
  color: $black;
  width: 75%;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.vision,
.mission {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 360px;
  border-radius: 8px;
  padding: 48px;
  overflow: hidden;
}

.vision {
  background: linear-gradient(135deg, #c396d6, #441a53);
}

.mission {
  background: linear-gradient(135deg, #ffba00, #c62600d9);
}

.cardIcon {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 420px;
  height: 110%;
  background: rgba(255, 255, 255, 0.1);
  right: -150px;
  top: -10px;
  overflow: hidden;
}

.cardTitle {
  font-size: 44px;
  font-weight: 200;
  color: $white;
}

.cardDescription {
  font-size: 20px;
  font-weight: 200;
  color: $white;
  line-height: 1.5;
}

.usContainer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.titleUs {
  font-size: 54px;
  font-weight: 200;
  color: $black;
}

.us {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  color: $white;
}
